.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: black;
}

#bio-text {
    padding-left: 20%;
    padding-right: 20%;
    color: white;
}

#headshot-left {
    background: black url('headshot_romeo_and_juliet_me.png') no-repeat fixed;
    background-size: contain;
    width: 100%;
    height: 100%;
}