.finlay-mcafee {
    width: 100%;
    object-fit: cover;
    padding-top: 10vh;
    vertical-align: middle;
}

.name-container {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}