.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-around;
    background: black url('BackgroundImage.png') no-repeat fixed;
    background-size: cover;
}

h2 {
    text-align: center;
    color: white;
    cursor: pointer;
    mix-blend-mode: difference;
}

h2:active {
    color: darkgray;
}